<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE geothm SYSTEM "geothm.dtd">
<geothm name="">
	<xpolysys>
		<xpoly>
			<xterm>
				<ufrac>
					<upoly>
						<uterm coeff="">
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
						</uterm>	
						<uterm coeff="">
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
						</uterm>
					</upoly>
					<upoly>
						<uterm coeff="">
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
						</uterm>
						<uterm coeff="">
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
						</uterm>
					</upoly>
				</ufrac>
				<pow vtype="x" ind="" exp=""></pow>
				<pow vtype="x" ind="" exp=""></pow>
				<pow vtype="x" ind="" exp=""></pow>
				<pow vtype="x" ind="" exp=""></pow>
			</xterm>
			<xterm>
				<ufrac>
					<upoly>
						<uterm coeff="">
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
						</uterm>
						<uterm coeff="">
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
						</uterm>
					</upoly>
					<upoly>
						<uterm coeff="">
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
						</uterm>
						<uterm coeff="">
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
						</uterm>
					</upoly>
				</ufrac>
				<pow vtype="x" ind="" exp=""></pow>
				<pow vtype="x" ind="" exp=""></pow>
				<pow vtype="x" ind="" exp=""></pow>
				<pow vtype="x" ind="" exp=""></pow>
			</xterm>
			<xterm>
				<ufrac>	
					<upoly>
						<uterm coeff="">
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
						</uterm>	
						<uterm coeff="">
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
						</uterm>
					</upoly>
					<upoly>
						<uterm coeff="">
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
						</uterm>	
						<uterm coeff="">
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
						</uterm>
					</upoly>
				</ufrac>
				<pow vtype="x" ind="" exp=""></pow>
				<pow vtype="x" ind="" exp=""></pow>
				<pow vtype="x" ind="" exp=""></pow>
				<pow vtype="x" ind="" exp=""></pow>
			</xterm>
		</xpoly>
		<xpoly>
			<xterm>
				<ufrac>		
					<upoly>
						<uterm coeff="">
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
						</uterm>	
						<uterm coeff="">
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
						</uterm>
					</upoly>				
					<upoly>
						<uterm coeff="">
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
						</uterm>	
						<uterm coeff="">
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
						</uterm>
					</upoly>
				</ufrac>
				<pow vtype="x" ind="" exp=""></pow>
				<pow vtype="x" ind="" exp=""></pow>
				<pow vtype="x" ind="" exp=""></pow>
				<pow vtype="x" ind="" exp=""></pow>
			</xterm>
			<xterm>
				<ufrac>
					<upoly>
						<uterm coeff="">
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
						</uterm>	
						<uterm coeff="">
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
						</uterm>
					</upoly>
					<upoly>
						<uterm coeff="">
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
						</uterm>	
						<uterm coeff="">
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
						</uterm>
					</upoly>
				</ufrac>
				<pow vtype="x" ind="" exp=""></pow>
				<pow vtype="x" ind="" exp=""></pow>
				<pow vtype="x" ind="" exp=""></pow>
				<pow vtype="x" ind="" exp=""></pow>
			</xterm>
			<xterm>
				<ufrac>
					<upoly>
						<uterm coeff="">
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
						</uterm>	
						<uterm coeff="">
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
						</uterm>
					</upoly>
					<upoly>
						<uterm coeff="">
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
						</uterm>
						<uterm coeff="">
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
						</uterm>
					</upoly>
				</ufrac>
				<pow vtype="x" ind="" exp=""></pow>
				<pow vtype="x" ind="" exp=""></pow>
				<pow vtype="x" ind="" exp=""></pow>
				<pow vtype="x" ind="" exp=""></pow>
			</xterm>
			<xterm>
				<ufrac>
					<upoly>
						<uterm coeff="">
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
						</uterm>	
						<uterm coeff="">
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
						</uterm>
					</upoly>
					<upoly>
						<uterm coeff="">
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
						</uterm>	
						<uterm coeff="">
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
						</uterm>
					</upoly>
				</ufrac>
				<pow vtype="x" ind="" exp=""></pow>
				<pow vtype="x" ind="" exp=""></pow>
				<pow vtype="x" ind="" exp=""></pow>
				<pow vtype="x" ind="" exp=""></pow>
			</xterm>
		</xpoly>
		<xpoly>
			<xterm>
				<ufrac>
					<upoly>
						<uterm coeff="">
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
						</uterm>	
						<uterm coeff="">
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
						</uterm>
					</upoly>
					<upoly>
						<uterm coeff="">
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
						</uterm>	
						<uterm coeff="">
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
						</uterm>
					</upoly>
				</ufrac>
				<pow vtype="x" ind="" exp=""></pow>
				<pow vtype="x" ind="" exp=""></pow>
				<pow vtype="x" ind="" exp=""></pow>
				<pow vtype="x" ind="" exp=""></pow>
			</xterm>
			<xterm>
				<ufrac>
					<upoly>
						<uterm coeff="">
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
						</uterm>	
						<uterm coeff="">
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
						</uterm>
					</upoly>
					<upoly>
						<uterm coeff="">
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
						</uterm>	
						<uterm coeff="">
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
						</uterm>
					</upoly>
				</ufrac>
				<pow vtype="x" ind="" exp=""></pow>
				<pow vtype="x" ind="" exp=""></pow>
				<pow vtype="x" ind="" exp=""></pow>
				<pow vtype="x" ind="" exp=""></pow>
			</xterm>
			<xterm>
				<ufrac>
					<upoly>
						<uterm coeff="">
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
						</uterm>
						<uterm coeff="">
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
						</uterm>
					</upoly>
					<upoly>
						<uterm coeff="">
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
						</uterm>	
						<uterm coeff="">
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
						</uterm>
					</upoly>
				</ufrac>
				<pow vtype="x" ind="" exp=""></pow>
				<pow vtype="x" ind="" exp=""></pow>
				<pow vtype="x" ind="" exp=""></pow>
				<pow vtype="x" ind="" exp=""></pow>
			</xterm>
			<xterm>
				<ufrac>
					<upoly>
						<uterm coeff="">
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
						</uterm>	
						<uterm coeff="">
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
						</uterm>
					</upoly>
					<upoly>
						<uterm coeff="">
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
						</uterm>	
						<uterm coeff="">
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
							<pow vtype="u" ind="" exp=""></pow>
						</uterm>
					</upoly>
				</ufrac>
				<pow vtype="x" ind="" exp=""></pow>
				<pow vtype="x" ind="" exp=""></pow>
				<pow vtype="x" ind="" exp=""></pow>
				<pow vtype="x" ind="" exp=""></pow>
			</xterm>
		</xpoly>
	</xpolysys>
	<xpoly>
		<xterm>
			<ufrac>
				<upoly>
					<uterm coeff="">
						<pow vtype="u" ind="" exp=""></pow>
						<pow vtype="u" ind="" exp=""></pow>
						<pow vtype="u" ind="" exp=""></pow>
						<pow vtype="u" ind="" exp=""></pow>
					</uterm>	
					<uterm coeff="">
						<pow vtype="u" ind="" exp=""></pow>
						<pow vtype="u" ind="" exp=""></pow>
						<pow vtype="u" ind="" exp=""></pow>
						<pow vtype="u" ind="" exp=""></pow>
					</uterm>
				</upoly>
				<upoly>
					<uterm coeff="">
						<pow vtype="u" ind="" exp=""></pow>
						<pow vtype="u" ind="" exp=""></pow>
						<pow vtype="u" ind="" exp=""></pow>
						<pow vtype="u" ind="" exp=""></pow>
					</uterm>
					<uterm coeff="">
						<pow vtype="u" ind="" exp=""></pow>
						<pow vtype="u" ind="" exp=""></pow>
						<pow vtype="u" ind="" exp=""></pow>
						<pow vtype="u" ind="" exp=""></pow>
					</uterm>
				</upoly>
			</ufrac>
			<pow vtype="x" ind="" exp=""></pow>
			<pow vtype="x" ind="" exp=""></pow>
			<pow vtype="x" ind="" exp=""></pow>
			<pow vtype="x" ind="" exp=""></pow>
		</xterm>
		<xterm>
			<ufrac>
				<upoly>
					<uterm coeff="">
						<pow vtype="u" ind="" exp=""></pow>
						<pow vtype="u" ind="" exp=""></pow>
						<pow vtype="u" ind="" exp=""></pow>
						<pow vtype="u" ind="" exp=""></pow>
					</uterm>
					<uterm coeff="">
						<pow vtype="u" ind="" exp=""></pow>
						<pow vtype="u" ind="" exp=""></pow>
						<pow vtype="u" ind="" exp=""></pow>
						<pow vtype="u" ind="" exp=""></pow>
					</uterm>
				</upoly>
				<upoly>
					<uterm coeff="">
						<pow vtype="u" ind="" exp=""></pow>
						<pow vtype="u" ind="" exp=""></pow>
						<pow vtype="u" ind="" exp=""></pow>
						<pow vtype="u" ind="" exp=""></pow>
					</uterm>
					<uterm coeff="">
						<pow vtype="u" ind="" exp=""></pow>
						<pow vtype="u" ind="" exp=""></pow>
						<pow vtype="u" ind="" exp=""></pow>
						<pow vtype="u" ind="" exp=""></pow>
					</uterm>
				</upoly>
			</ufrac>
			<pow vtype="x" ind="" exp=""></pow>
			<pow vtype="x" ind="" exp=""></pow>
			<pow vtype="x" ind="" exp=""></pow>
			<pow vtype="x" ind="" exp=""></pow>
		</xterm>
		<xterm>
			<ufrac>	
				<upoly>
					<uterm coeff="">
						<pow vtype="u" ind="" exp=""></pow>
						<pow vtype="u" ind="" exp=""></pow>
						<pow vtype="u" ind="" exp=""></pow>
						<pow vtype="u" ind="" exp=""></pow>
					</uterm>	
					<uterm coeff="">
						<pow vtype="u" ind="" exp=""></pow>
						<pow vtype="u" ind="" exp=""></pow>
						<pow vtype="u" ind="" exp=""></pow>
						<pow vtype="u" ind="" exp=""></pow>
					</uterm>
				</upoly>
				<upoly>
					<uterm coeff="">
						<pow vtype="u" ind="" exp=""></pow>
						<pow vtype="u" ind="" exp=""></pow>
						<pow vtype="u" ind="" exp=""></pow>
						<pow vtype="u" ind="" exp=""></pow>
					</uterm>	
					<uterm coeff="">
						<pow vtype="u" ind="" exp=""></pow>
						<pow vtype="u" ind="" exp=""></pow>
						<pow vtype="u" ind="" exp=""></pow>
						<pow vtype="u" ind="" exp=""></pow>
					</uterm>
				</upoly>
			</ufrac>
			<pow vtype="x" ind="" exp=""></pow>
			<pow vtype="x" ind="" exp=""></pow>
			<pow vtype="x" ind="" exp=""></pow>
			<pow vtype="x" ind="" exp=""></pow>
		</xterm>
	</xpoly>
</geothm>
